body {
    color:#ccc;
    background: #333;
    margin:0 auto;
    text-align:center;
}
.chart {
    display:inline-block;
    background:#000;
    width:600px;
    height:280px;
    margin:14px;
    -moz-border-radius:8px;
    border-radius:8px;
    box-shadow:0 0 2px 2px #000;
}
